.article-view {
  .article-view__type {
    display: flex;
    text-decoration: underline;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .article-view__container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .card {
    padding: 2rem;
    border-radius: 12px;
    background:  #fff;
    width: 32.3%;
    &__header {
    }
    &__header--fio {
      display: flex;
      p {
        font-weight: 600;
				font-size: 18px;
      }
    }
    &__header--date {
      color: #d7dbe5;
    }
    &__header--img {
      border-radius: 2rem;
      min-width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 0.2rem;
    }
    &__reactions {
      display: flex;
      gap: 0.6rem;
			color: #121212;

      & div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__images {
      overflow-y: overlay;
      height: 250px;
      padding-right: 0.8rem;
    }
    &__image {
      position: relative;
      padding: 1rem 1rem 70%;
      margin-bottom: 1rem;

    }
    &__body {
    }
    &__expert--reactions {
      display: flex;
      justify-content: space-between;
      color: #121212;
			position: relative;
			padding-left: 5rem;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
		&__expert--avatars{
			top: 2px;
			position: absolute;
			left: 0;
			div {
				border-radius: 2rem;
				width: 24px;
				height: 24px;
				transform: translate(-5px,0)
			}
		}
    &__body-text {
      & p:first-child {
        font-weight: 600;
        color: #4b73db;
        line-height: 150%;
      }
      color: #121212;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &__body-tags {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      color: #414141;
      p {
        padding: 0.6rem 1.2rem;
        border-radius: 44px;
        background: var(--gray-tag-compas, #d1d9ee);
      }
    }
  }
}
