.footer {
  display: flex;
  padding: 3.5rem 0 10rem;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
  color: #414141;
  // background: #fff;
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }
  .button {
    padding: 0.5rem 3rem;
  }
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}