main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & > div {
    margin-top: 30px;
  }
  .sceleton-container {
    display: flex;
    justify-content: space-between;
  }
  .sceleton-body {
    border-radius: 12px;
    background: var(--white-compas, #fff);
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    width: 23%;
    .q-skeleton:first-child {
      max-width: 80px;
    }
  }
}

main h2 {
  font-size: 30px;

  font-weight: 600;
  text-align: start;
  line-height: 150%;
  text-transform: uppercase;
  // margin-bottom: 2rem;
  margin-bottom: 10px;
}
.main-subtitle {
  color: #212121;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%; /* 21.96px */
  margin-bottom: 2rem;
}
.main-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 9px 8px 12.2px 0px rgba(151, 149, 149, 0.18);
  padding: 35px 40px;
  &__block {
    flex: 0 1 75%;
    width: 75%;
    position: relative;
  }
  &__routes {
    position: absolute;
    right: 35%;
    bottom: 0;
    display: flex;
    gap: 15px;
    .route {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px 15px 0px 0px;
      background: var(--lightGrayCompas, #f8f8fb);
      height: 63px;
      width: 40px;
      padding: 14px 8px 25px 8px;
      cursor: pointer;
      &:hover {
        fill: red;
      }
    }
  }
  &__search-container {
    max-height: 600px;
    overflow-y: auto;
    position: absolute;
    top: 160px;
    left: 0;
    width: 80%;
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    // gap: 20px;
    border-radius: 7px;
    border: 1px solid var(--GrayFonCompas, #919cb8);
    background: var(--WhiteCompas, #fff);
    & > div {
      padding: 15px 20px;
      cursor: pointer;
      &:hover {
        background: #4b73db;
        color: #fff;
      }
    }
  }
  &__title {
    margin-bottom: 15px;
    color: var(--DarkGrayCompas, #414141);
    font-size: 38px;
    font-weight: 500;
    line-height: 114.5%; /* 43.51px */
    letter-spacing: -0.38px;
    text-transform: uppercase;
  }
  &__sub--title {
    margin-bottom: 20px;
    color: var(--DarkGrayCompas, #414141);
    font-size: 25px;
    font-weight: 400;
    span {
      color: var(--BlueCompas, #4b73db);
    }
  }
  &__input {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;
    & div:first-child {
      flex: 0 1 80%;
      & input {
        width: 100%;
        border-radius: 7px;
        border: 1px solid #919cb8;
        padding: 10px 20px;
      }
    }
    & div:last-child {
      width: 9rem;
    }
  }

  &__words {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    gap: 10px;
    // .swiper-wrapper {
    //   flex-wrap: wrap;
    //   gap: 1rem;
    //   width: 65vw;
    // }
  }
  &__word {
    width: max-content !important;
    button {
      width: max-content !important;
    }
  }

  &__help {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    line-height: 110%;
    color: #414141;
    border-radius: 30px;
    border: 1px solid var(--BlueCompas, #4b73db);
    padding: 20px;
    & p:first-child {
      font-size: 2rem;
      text-align: center;
    }
  }
}
.word-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 80vw;
  padding-bottom: 1rem;
}

.main-questions {
  .open {
    // .swiper-wrapper {
    //   display: grid;
    //   grid-template-columns: repeat(6, minmax(400px, 1fr));
    //   gap: 1rem;
    // }
  }
  .swiper-wrapper {
    padding-bottom: 30px;
  }

  .swiper-slide {
    // width: 400px !important;
    cursor: grab;
    margin-bottom: 20px !important;
    margin-right: 35px !important;
    margin-top: 0 !important;
  }
  .card {
    &__container {
      display: flex;
      border-radius: 30px;
      background: #fff;
      box-shadow: 2px 7px 10.9px 0px rgba(160, 154, 154, 0.15);
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-around;
      padding: 20px;
      border-radius: 12px;
      background: #fff;
      color: #121212;
      // max-height: 340px;
      // max-width: 400px;
      // width: 340px;
      height: 280px;
      &:hover {
        cursor: default;
        border-radius: 30px;
        background: var(--lightGrayCompas, #f8f8fb);
        box-shadow: 2px 7px 10.9px 0px rgba(160, 154, 154, 0.15);
      }
    }

    &__header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & p {
        font-weight: 600;
      }
    }
    &__header--img {
      border-radius: 2rem;
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 0.2rem;
    }
    &__header--fio {
      display: flex;
      align-items: center;
      flex: 0 1 75%;
      p {
        margin: 0;
      }
    }
    &__header--date {
      color: #919cb8;
    }
    &__statuses {
      display: flex;
      justify-content: space-around;
      & div {
        display: flex;
        align-items: center;
      }
    }
    &__main {
      height: 45px;
    }
    &__btn {
      cursor: pointer;
      color: #4b73db;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
    &__words {
      display: flex;
      gap: 20px;
      & > div {
        border-radius: 50px;
        background: rgba(18, 18, 18, 0.06);
        padding: 8px 15px;
      }
    }
  }
}
.main-specialists {
  .open {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(8, minmax(290px, 1fr));
      gap: 1rem;
    }
  }
  .swiper-wrapper {
    gap: 1rem;
  }
  .swiper-slide {
    // max-width: 350px;
    cursor: grab;
    // width: 100% !important;
  }
  .swiper-wrapper {
    padding-bottom: 30px;
  }
  .swiper-slide {
    // width: 400px !important;
    cursor: grab;
    margin-bottom: 20px !important;
    margin-right: 35px !important;
    margin-top: 0 !important;
  }
  .card {
    &__container {
      display: flex;
      border-radius: 30px;
      background: #fff;
      box-shadow: 2px 7px 10.9px 0px rgba(160, 154, 154, 0.15);
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-around;
      padding: 20px;
      border-radius: 12px;
      background: #fff;
      color: #121212;
      // max-height: 340px;
      // max-width: 400px;
      // width: 340px;
      height: 280px;
      &:hover {
        cursor: default;
        border-radius: 30px;
        background: var(--lightGrayCompas, #f8f8fb);
        box-shadow: 2px 7px 10.9px 0px rgba(160, 154, 154, 0.15);
      }
    }

    &__header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & p {
        font-weight: 600;
      }
    }
    &__header--img {
      border-radius: 2rem;
      width: 40px;
      height: 40px;
      overflow: hidden;
      position: relative;
      margin-right: 0.2rem;
    }
    &__header--fio {
      display: flex;
      align-items: center;
      flex: 0 1 75%;
      p {
        margin: 0;
      }
    }
    &__header--date {
      color: #919cb8;
    }
    &__statuses {
      display: flex;
      justify-content: space-around;
      & div {
        display: flex;
        align-items: center;
      }
    }
    &__main {
      height: 45px;
    }
    &__btn {
      cursor: pointer;
      color: #4b73db;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
    &__words {
      display: flex;
      gap: 20px;
      & > div {
        border-radius: 50px;
        background: rgba(18, 18, 18, 0.06);
        padding: 8px 15px;
      }
    }
  }
  // qwe

  &__arrow {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    & * {
      cursor: pointer;
    }
  }
}
.main-digests {
  .swiper-slide {
    margin-bottom: 40px !important;
    position: relative;
    height: 350px;
    border-radius: 30px;

    overflow: hidden;
    display: flex;
    align-items: end;
    padding: 30px 20px;
    & > div {
      z-index: 2;
      position: relative;
      color: #212121;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 122%; /* 30.5px */
      text-transform: uppercase;
			min-height: 130px;
    }
  }
}
.main-article--interesting {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;

    & div:first-child {
      grid-column: span 2;
      grid-row: span 1;
      .main-article--interesting__body-subtitle {
        display: block;
      }
    }
    & div:nth-child(2) {
      grid-column: span 1;
      grid-row: span 1;
    }
    & div:nth-child(6) {
      grid-column: span 1;
      grid-row: span 2;
    }
    & div:nth-child(7) {
      grid-column: span 2;
      grid-row: span 2;
      .main-article--interesting__body-subtitle {
        display: block;
      }
    }
    & div:nth-child(8) {
      grid-column: span 3;
      grid-row: span 1;
      padding-bottom: 25%;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    padding: 30px;
    overflow: hidden;
    justify-content: end;
    height: 340px;
  }
  &__words {
    border-radius: 30px;
    background: #fff;
    box-shadow: 3px 7px 10px 0px rgba(123, 123, 123, 0.1);
    padding: 50px 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    margin-bottom: 40px;
  }
  &__word {
    border-radius: 20px;
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #212121;
    color: #212121;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      border-radius: 20px;
      border: 1px solid var(--BlueHover, #1847c1);
      color: #1847c1;
    }
  }
  &__body-title {
    position: relative;
    z-index: 2;
    color: #212121;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 122%; /* 30.5px */
    text-transform: uppercase;
    width: 70%;
  }
  &__body-subtitle {
    position: relative;
    z-index: 2;
    color: var(--BlackCompas, #121212);
    display: none;
    /* Inter16Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
		width: 70%;
  }
  &__body-detail {
    color: var(--BlackCompas, #121212);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    text-decoration-line: underline;
    position: absolute;
    right: 30px;
		cursor: pointer;
    bottom: 30px;
  }
  .two-by-two {
    grid-column: span 2;
    grid-row: span 2;
  }
  .two-by-one {
    grid-column: span 1;
    grid-row: span 2;
  }
  .three-by-one {
    grid-column: span 3;
    grid-row: span 1;
    padding-bottom: 25%;
  }
}
.arrow-open {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  & * {
    cursor: pointer;
  }
}

@media (max-width: 1023px) {
}
@media (max-width: 1023px) {
  .main-article--interesting {
    &__container {
      flex-direction: column;
      max-height: 600px;
      overflow-y: auto;
    }
    &__body {
      width: 100%;
      min-height: 250px;
    }
  }
  .main-article {
    &__arrow {
      display: none;
    }
  }

  .main-questions {
    &__arrow {
      display: none;
    }
  }
  .main-specialists {
    &__arrow {
      display: none;
    }
  }

  .main-search {
    flex-direction: column;
    gap: 30px;
    &__block {
      width: 100%;
    }
    &__words {
      width: 100%;
    }
    .swiper-wrapper {
      width: 200%;
    }
  }
  .main-digests {
    &__container {
      display: flex;
      flex-direction: column;
      max-height: 600px;
      overflow-y: auto;
    }
  }
}
